@page {
  margin: 0;
}

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: normal;
  src: url(fonts/Barlow/BarlowCondensed-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: normal;
  src: url(fonts/NotoSerif-Regular.ttf) format('truetype');
}

body{
  background-image: url(zasavica.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  background-color: #fbf5f2;
  color: #343333;
  padding: 30px;
  text-align: center;
}

/* .wrapper{
  background: rgba(255,255, 255, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
} */

h1{
  font-size: 70px;
  font-weight: normal;
  padding-bottom: 20px;
}

h2{
  font-size: 50px;
  font-weight: normal;
  margin-top: 30px;
  color: #aa1f22;
}
h3{
  font-size: 30px;
  font-weight: normal;
}


.data{
  display: inline-block;
  font-size: 30px;
}

.logo{
  width: 100%;
  text-align: left;
}


.logo img{
  height: 99px;
}

.left{
  float: left;
}

.right{
  float: right;
}

#second{
  padding-left: 130px;
}

.date p{
  font-size: 20px;
  padding-bottom: 15px;
  margin-top: 15px;
}
