@page {
  margin: 0;
}

@font-face {
  font-family: 'GreatVibes';
  font-style: normal;
  font-weight: normal;
  src: url(fonts/GreatVibes/GreatVibes-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'OpenSansLighter';
  font-style: normal;
  font-weight: 300;
  src: url(fonts/OpenSans/OpenSans-Light.ttf) format('truetype');
}

body{
  background-image: url(zasavica.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  background-color: #fbf5f2;
  color: #343333;
  padding: 30px;
  text-align: center;
  font-family: 'OpenSansLighter';
}

/* .wrapper{
  background: rgba(255,255, 255, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
} */

h1{
  font-size: 70px;
}

h2{
  font-size: 60px;
  color: #aa1f22;
  font-family: 'GreatVibes';
  margin-top: -40px;
  padding: 10px 0;
}
h3{
  font-size: 25px;
  margin-top: -40px;
}


.data{
  font-size: 25px;
  margin-top: 20px;
}

.logo{
  width: 100%;
  text-align: left;
  padding-top: 70px;
  padding-left: 100px;
}

.logo p{
  display: inline;
  font-size: 20px;
  margin-left: 140px;
}

.logo img{
  height: 99px;
}

#second{
  padding-left: 130px;
}
