@page {
  margin: 0;
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: normal;
  src: url(fonts/NotoSans-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: normal;
  src: url(fonts/NotoSerif-Regular.ttf) format('truetype');
}

body{
  background-image: url(bukovac.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper{
  background: rgba(255,255, 255, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.content{
  text-align: center;
  padding: 60px;
}

h1{
  font-family: 'Noto Sans', serif;
  font-size: 90px;
  font-weight: 300;
}

h2{
  font-family: 'Noto Serif';
  font-size: 50px;
}

.logo img{
  width: 150px;
}

.logo .left{
  float: left;
}

.logo .right{
  float: right;
}

