@page {
  margin: 0;
}

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: normal;
  src: url(fonts/Barlow/BarlowCondensed-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: normal;
  src: url(fonts/NotoSerif-Regular.ttf) format('truetype');
}

body{
  background-image: url(test.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fbf5f2;
  color: #001c30;
  font-family: 'Barlow', sans-serif;
}

.left-side{
  width: 500px;
  height: 100%;
  display: inline-block;
  overflow: visible;
}

.right-side{
  width: 700px;
  display: inline-block;
  text-align: right;
  box-sizing: border-box;
  padding-top: 50px;
  padding-right: 60px;
}

/* .wrapper{
  background: rgba(255,255, 255, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
} */

h1{
  font-size: 90px;
  margin-top: -30px;
  font-weight: normal;
  color:#00ad8a;
}

h2{
  font-size: 50px;
  font-weight: normal;
  margin-top: -50px;
}
h3{
  font-size: 30px;
  font-weight: normal;
  color:#00ad8a;
}

p{
  
}

span{
  color: #001c30;
}

.data{
  display: inline-block;
  padding-top: 10px;
  font-size: 30px;
}

.logo{
  margin-right: 15px;
}


.logo img{
  width: 80px;
}

.left{
  float: left;
}

.right{
  float: right;
}

.data p{
  color:#00ad8a;
}

#second{
  padding-left: 130px;
}

.date p{
  font-size: 20px;
  font-size: 20px;
  margin-top: 60px;
}

