@page {
  size: 25cm 19cm;
  margin: 0;
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: normal;
  src: url(fonts/NotoSans-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: normal;
  src: url(fonts/NotoSerif-Regular.ttf) format('truetype');
}

body{
  background-image: url(bukovac.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #27293d;
}

.wrapper{
  background: rgba(255,255, 255, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.content{
  text-align: center;
  padding: 40px;
}

h1{
  font-family: 'Noto Sans', serif;
  font-size: 90px;
}

h2{
  font-family: 'Noto Serif', sans-serif;
  font-size: 50px;
  
}
h3{
  font-family: 'Noto Serif';
  font-size: 30px;
  margin-top: -50px;
}

p{
  font-family: 'Noto Serif', sans-serif;
}

.data{
  display: inline-block;
  width: 70%;
  margin: auto;
  padding-top: 50px;
  font-size: 30px;
}

.logo img{
  width: 150px;
}

.left{
  float: left;
}

.right{
  float: right;
}

.date{
  margin-top: 200px;
}

.date p{
  font-size: 20px;
}

